*{
	margin: 0;
	padding : 0;
}
html, body{
	height : 100%;
	background-color;
	overflow-y: scroll;
}

header h1{
	background-color: #333;
	text-align: center;
	line-height: 70px;
	color : #007f00;
}

.searchbar{
	display: flex;
	padding : 20px 10%;
	justify-content: space-around;

}

.searchbar input{
	width : 80%;
	height : 50px;
	padding-left: 10px;
	border-radius: 10px;
	font-size: 20px;
}

.searchbar button{
	width : 10%;
	border-radius: 10px;
	font-size: 20px;
}

.searchbar button:hover{
	background-color: #0091cc;
}

#content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: scroll;
}

.movie-item{
	position: relative;
	width : 20%;
	padding-top: 20%;
	margin : 5px;
	background: #aaa;
	transition: background 1s;
}

.movie-item:hover{
	background: #0091cc;
}

.movie-item > div{
	position: absolute;
	padding: 0 5%;
	width : 90%;
	height: 100%;
	top: 0;
	left:0;
}

.movie-item > div > h3{
	padding-top: 50px;
	text-align: center;
}

.movie-item > div > button{
	display: block;
	height: 15%;
	bottom :5%;
	margin : 0 auto;
	padding: 5px;
	background-color: #42f492;
	border-radius: 5px;
	color : #fff;
}

.movie-item > div > button:hover{
	background-color: #0091cc;
}

#modal{
	position: absolute;
	top: 0;
	left:0;
	right : 0;
	bottom : 0;
	width:  100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
}

.modalcontent{
	width: 50%;
	height: 50%;
	background-color: #aaa;
	margin: 0 auto;
	margin-top: 10%;
	padding: 20px;
	overflow: scroll;

}

.modalcontent h1 {
	text-align: center;
	color : #fff;
	line-height: 70px;
	background-color: #0091cc;
	margin-bottom: 50px;
}

.modalcontent h3, h2 ,a ,p{
	display: block;
	text-align: center;
}

.modalcontent img {
	width : 150px;
	height : 150px;
	display: block;
	margin: 10px auto; 
}

.movie-item img{
	width : 70%;
	height : 50%;
	display: block;
	margin: 5px auto;
}



.cast-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.person{
	width : 150px;
	margin: 5px;
}

.person img{
	border-radius: 50%;
}

@media (max-width: 1300px) { 
	.movie-item{
		width : 30%;
		padding-top: 30%;
	}

	.searchbar input{
		width : 60%;
		font-size: 14px;
	}

	.searchbar button{
		width : 30%;
		font-size: 14px;
	}
}

@media (max-width: 800px) { 
	.movie-item{
		width : 40%;
		padding-top: 40%;
	}
}

@media (max-width: 600px) { 
	.movie-item{
		width : 90%;
		padding-top: 90%;
	}
}





